[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "auth0"]
	path = auth0
	url = https://github.com/curso-r/auth0
[submodule "chess"]
	path = chess
	url = https://github.com/curso-r/chess
